# Build artifacts
.cache/
build/
bin/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.out
*.log
*.pyc
*.class
build_settings.json

# Backup & temporary files
*~
*.tmp
*.bak
*.swp

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# Ninja
.ninja_deps
.ninja_log

# Python virtual environments
venv/

# VSCode
.vscode/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
CMakeSettings.json

# CLion / IntelliJ / JetBrains
.idea/
*.iml

# Eclipse
.project
.cproject
.settings/
.metadata/

# Qt Creator
*.pro.user
*.user
*.autosave

# MWacOS
.DS_Store

# Zed Editor
.zed/

# Others
specs/
